extends ../../layout/default.pug
include ../../mixin/box-head.pug

block main 
    .container.my-3 
        include ../../partial/list-button.pug
        .row 
            .col-12
                +box-head("Lời mời đã gửi")
        .row 
            each user in users
                .col-6
                    div(class="box-user add")
                        div(class="inner-avatar")
                            img(
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMqI4dJM6gAS7v_jKJy0_bCkeqZpZ-_vPO67WSQpi-9wqkdqScFvd57VvMG3qS2NnbzXU&usqp=CAU"
                                alt="levan a"
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                    class='btn btn-sm btn-primary mr-1 '
                                    button-add-friend=user.id
                                ) Kết bạn 
                                button(
                                    class="btn btn-sm btn-secondary mr-1 "
                                    button-cancel-friend=user.id
                                ) Hủy
block script 
    script(src="/js/user.js" type="module")